.cart #header {
    color: cornflowerblue;
    font-size-adjust: 50;
    margin-top: 20px;
    font-size: 50px;
}

.cart #beginning {
    margin-top: 50px;
}

.cart hr {
    border-width: 3px;
    color: darkblue
}

.cart #footer {
    margin-top: 50px;
}

.cart a {
    text-decoration: none;
}

.cart #varukorg{
    margin-top: 50px;
    margin-bottom: 25px;
}

.cart #sammanfattning{
    margin-top: 50px;
    margin-bottom: 25px;
}

.cart #delete-button{
    border: 1px solid gray;
    border-radius: 5px;
    width: 10%;
    background: none;
    float: right;
    padding: 2px;
}

.cart #product-image{
    padding: 5px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}

.cart #artikelnummer{
    color: dimgray;
}

body{
    font-family: "Calibri light";
}

.cart #product-name{
    font-weight: bold;
}

.cart #totalt{
    font-weight: bold;
}

.cart #enhet{
    color: dimgray;
}

.cart #update-button{
    width: 15%;
    padding: 5px;
    background: none;
    border-color: gray;
}

.cart #tom-varukorg-image{
    width: 30px;
    padding: 2px;
}

.cart #tom-varukorg{
    float: left;
    border: 1px solid gray;
    padding: 2px;
    width: 200px;
    font-weight: bold;
    color:dimgray;
}

.cart #roligt{
    font-weight: bold;
}

.cart #logo-card{
    width: 65px;
}

.cart #logo-telephone{
    width: 50px;
    margin-left: 10px;
    margin-right: 3px;
}

.cart #land{
    font-weight: bold;
}

.cart #leverantör{
    font-weight: bold;
}

.cart #earth{
   width: 25px;
}

.cart #earth-cell{
    background: none;
}

.cart #col-info{
    margin-bottom: 25px;
}

.cart #col-roligt{
    margin-bottom: 25px;
}

.cart #col-land{
    margin-bottom: 25px;
}

.cart #col-metod{
    margin-bottom: 25px;
}

.cart #check{
    width: 20px;
 }

 .cart #check-cell{
    background: none;
}